<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Task Force </ion-title>
    <ion-buttons slot="end">
    <!-- <ion-icon (click)="logout()" size="large"  name="cart-outline"></ion-icon> -->
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <section class="text-center about overlap-color">

    <div class="container ">
      <div class="row bg-color">
        <div class="col-lg-12 col-sm-12 col-ex-12 about-item wow lightSpeedIn"  data-wow-offset="200" >
          <!-- <span class="fa fa-group"><img src="../../assets/taskforce_logo.png" class="logo"  alt="Logo"/></span> -->
          <div class="row">
            <img src="../../assets/taskforce_logo.png" class="logo"  alt="Logo"/>
          </div>
          <h1 class="lead_header">माहिती </h1>

          <p class="lead">आपण सर्वच जण कोविड १९ या आजाराच्या दुसऱ्या लाटेत आलेलो आहोत. तज्ज्ञांच्या म्हणण्यानुसार हि लाट नसून त्सुनामी आहे, आणि आपण त्याचा अनुभव घेत आहोत. निदान वसईपुरता विचार करायचा झाल्यास वसईतील सर्वच हॉपिटल्स खचाखच भरलेली आहेत. रेमिडीसीवर इंजेक्शनचा भयंकर तुटवडा निर्माण झाला आहे. ऑक्सिजन मिळत नाही. एकंदर आरोग्य व्यवस्था संपूर्ण पणे कोलमडून गेली आहे. अशा वेळी रेमिडीसीवर इंजेक्शन किंवा हॉस्पिटल मध्ये भरती करणं हे केवळ अशक्य झालेलं आहे. आपण सर्वच जण त्याबाबत हतबल आहोत. </p>
          <p class="lead">आपल्या या ग्रुपवर अनेक जणांच्या सूचना लक्षात घेऊन आपल्या  मधील सर्व पक्षीय आणि संघटनेतील सभासद आणि काही निवडक लोक यांच्यासह दुपारी आपल्या  विभागासाठी यावर काय उपाययोजना करता येतील यावर कार्यवाही कारण्यासाठी एका *"टास्क फोर्स"* ची स्थापना करावी असा विचार घेऊन ऑनलाईन सभा घेण्यात आली. यात बऱ्याच जणांना घेऊ शकलो नाही त्याबद्दल क्षमस्व मात्र आपल्या प्रत्येकाच्या मदतीची गरज या टास्क फोर्स च्या कार्यवाहीनिमित्ताने लागणार आहे हे आम्ही नम्रपणे नमूद करतो. </p>
          <h1 class="lead_header" style="font-size: 18px;">करोना आजार लपवू नये     लवकर योग्य उपचार करून प्राथमिक अवस्थेमध्ये  करोनाला आपण थांबवू शकतो. </h1>
          <p class="lead">Step 1</p>

          <p class="lead">- ताप, सर्दी,खोकला, अंगदुखी असल्यास आळीतील कार्यकर्त्यांना संपर्क साधा व डॉक्टर सल्ला लवकरात लवकर घ्या.</p>
          
          
          <p class="lead">Step 2</p>
          
          <p class="lead">- RTPCR टेस्ट करुन घ्या व  डॉक्टर सल्लानुसार  गोळ्या व उपचार चालू करा.</p>
          
          <p class="lead">Step 3</p>
          
          <p class="lead">- oxygen दिवसभरात सतत 94 खाली आला तर डॉक्टर सल्लानुसार HRCT करा.</p>
          
          <p class="lead">- डॉक्टरानी जर Hospital ला admit करायचे सांगितले तर करोना टीमला कळवा.</p> 
          
           
          
          <p class="lead">- घरी quarantine असताना 17 दिवस आपण व आपल्या कुटुंबातील कोणालाही घराबाहेर पाठवू नका.</p>  
          
          <h1 class="lead_header" style="font-size: 18px;">खालील बाबी आवर्जून पाळा.</h1>
          
          <p class="lead">- मास्क वापरा, सामाजिक अंतर पाळा, स्वच्छ्ता पाळा, शक्यतो पुढील १०-१५ दिवस गरज नसताना घराबाहेर पडू नका.</p> 
          
          <p class="lead">- रोज भरपूर  साधारण गरम पाणी पिणे.</p>
          
          <p class="lead">- खाण्यात हळद, निंबु वापरावा.</p>
          
          <p class="lead">- दिवसातून दोन वेळा वाफ घेणे.</p>
          
          <p class="lead">- मैदा, मीठ, तेलकट  पदार्थ याचा व AC चा अतिवापर टाळावा.</p>
          
          <p class="lead">- मोकळी व स्वच्छ हवा यावी यासाठी घराच्या खिडक्या खुल्या ठेवा.</p>
          
          <p class="lead">- घरीच योगा, चालण्याचे व श्वासाचे व्यायाम करणे.</p>
          
          <p class="lead">- काही दिवस एकत्र येवून गप्पा मारणे, पाहुणे, मित्रमंडळी यांना भेटणे टाळावे.</p>
          
          <p class="lead">- करोना बरा झाला तरी डॉक्टरांचा सल्ला घेतल्याशिवाय किव्वा किमान ८ -१० दिवस घराबाहेर पडू नये.</p>
          
          <p class="lead">- करोनाग्रस्त रूग्णाला व कुटुंबाला फोन करून धीर देणे व सकारात्मक वातावरण ठेवणे.</p>
          
          <p class="lead">- लक्षणं दिसताच त्वरित करोना टीमची मदत घेणे व भीती न बाळगता करोनावर मात करू या.</p>
          
          
          
          <p class="lead" style="font-size: 18px;">खालील उपाय योजना टास्क फोर्स च्या माध्यमातून करणार आहोत.</p>
          <p class="lead">ब ) आपल्या विभागात साधारण किती करोना रुग्ण आहेत त्यांची संख्या आणि त्याची सद्य परिस्थिती याची माहिती आपण सेवक नेते आणि टास्क फोर्स मध्ये गावागावातून काम करण्यासाठी उत्सुक असलेल्या प्रतिनिधी द्वारे प्रत्येक गावाचा विदा (डेटा ) बनविणार आहोत. त्यामार्फत आपण सुपर स्प्रेडर याना रोखण्यात यशस्वी होऊ. </p>

          <p class="lead">क ) कुणालाही लक्षणे दिसली तर त्याची तात्काळ टेस्ट करण्यासाठी आपण नंदाखाल मध्ये कोविड  टेस्ट सेंटर सुरु करणार आहोत </p>
          
          <p class="lead">ड ) जर आपली टेस्ट पॉजिटीव्ह आली तर आपल्याला घरबसल्या टास्क फोर्स च्या माध्यमातून डॉ नितीन थोरवे आणि निदान टीम च्या साहाय्याने उपचार सुरु करणार आहोत. त्यासाठी टास्क फोर्स मधील एक चार जणाची टीम असणार आहे ज्यांच्या सतत संपर्कात राहून आपण त्यांनी दिलेल्या चार्ट प्रमाणे ऑक्सिजन पातळी वेळोवेळी चेक करणार आहोत. *ही सेवा विनामूल्य आहे*.</p> 
          
          <p class="lead">इ ) जर ऑक्सिजन कमी होत असेल तर अशा रुग्णांसाठी निदान टीमच्या मदतीने आपण ऑक्सिजन पुरवठा घरीच करणार आहोत. *सध्या आपल्या नंदाखाल विभागासाठी पाच नवीन ऑक्सिजन च्या बॉटल्स आपण विकत घेतल्या आहेत*. जेणे करून आपल्याला वेळोवेळी त्याचा पुरवठा करता येईल </p>
          
          <p class="lead">  फ ) जर अशा वेळीही कुणाला ऍडमिट करण्याची वेळ आली तर तसे प्रयत्नही टास्क फोर्स मार्फत केले जातील मात्र त्यासाठी किती यश येईल हे आता निश्चित सांगता येणार नाही. </p>
          
          <h1 class="lead_header" style="font-size: 18px;">सर्वांचा सक्रिय सहभाग अपेक्षित</h1>


        </div>
      </div>
    </div>
  </section>
</ion-content>

 